.page-header {
  display: flex;
  align-items: center;
}

.page-header__time {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.page-header__phone {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
}
