.slider {
  position: relative;
  display: flex; /* Для IE 11 */
  flex-direction: column; /* Для IE 11 */
}

.slider__indicator {
  display: block;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider__slide {
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 534px;
}

.slider__slide-title {
  width: 675px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.slider__slide-button {
  width: 280px;
  margin-top: 27px;
  margin-bottom: 0;
  font-size: 32px;
  line-height: 44px;
  border-radius: 32px;
}

.slider__controls {
  position: absolute;
  top: 490px;
  left: 27px;
  display: flex;
  justify-content: space-between;
  width: 79px;
}

/* stylelint-disable selector-max-id  */
#slider-1:checked ~ .site-wrapper .slider__indicator[for="slider-1"],
#slider-2:checked ~ .site-wrapper .slider__indicator[for="slider-2"],
#slider-3:checked ~ .site-wrapper .slider__indicator[for="slider-3"] {
  background-color: #ffffff;
}

#slider-1:checked ~ .site-wrapper .slider__slide--first {
  display: flex;
}

#slider-2:checked ~ .site-wrapper .slider__slide--second {
  display: flex;
}

#slider-3:checked ~ .site-wrapper .slider__slide--third {
  display: flex;
}
/* stylelint-enable */
