$font-family: "Roboto", "Arial", sans-serif;

$max-width: 1200px;
$min-width: 900px;

$background-color-main: #849d8f;
$background-color-form: #f8f7f4;

$text-color-white: #ffffff;
$text-color-dark: #323232;
$text-color-form: #999999;
